html,
body,
#app {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

button {
  padding: 6px 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.dashboard_main {
  height: 100vh;
}

.title_box {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 8px;
  margin: 0;
  box-sizing: border-box;

  .logo {
    display: flex;
    align-items: center;
    width: 60px;
    padding-right: 12px;
    padding-left: 6px;
    box-sizing: border-box;
  }

  h2 {
    margin: 0;
  }
}

.logo {
  .n-avatar {
    background: none;
  }
}

.page_container {
  padding: 24px;
}

.n-layout-scroll-container {
  &.main_content {
    height: calc(100vh - 64px);
    box-sizing: border-box;
    padding: 10px;
  }
}

/* data bar */
.data_bar {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;

  .data_bar_right {
    flex: 1;
    display: flex;
    justify-content: end;
    margin-left: 30px;

    .n-input {
      min-width: 300px;
      max-width: 600px;
      margin-right: 10px;
    }
  }

  .data_bar_left {
    display: flex;
    align-items: center;

    .n-button {
      margin-right: 10px;
    }
  }
}

/* map marker */
.jr-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2b7;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #2b7;

  &.picked {
    background: #f60;
    box-shadow: 0 0 0 2px #f60;
  }
}

/* custom scrollbar styles */
.scroller {
  --scrollbar-color-track: transparent;
  --scrollbar-color-thumb: #63e2b7;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);

  :is(&, & *)::-webkit-scrollbar-button {
    display: none;
  }
}
