html,
body,
#app {
  height: 100%;
  margin: 0;
}
button {
  padding: 6px 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.dashboard_main {
  height: 100vh;
}

.title_box {
  padding: 0 8px;
  margin: 0;
  display: flex;
  /* border-bottom: 1px solid #eeeeee; */
  box-sizing: border-box;
}
.title_box .logo {
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.logo .n-avatar {
  background: none;
}

.page_container {
  padding: 24px;
}

.n-layout-scroll-container.main_content {
  height: calc(100vh - 64px);
  box-sizing: border-box;
  padding: 10px;
}

/* data bar */
.data_bar {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
}
.data_bar_right {
  flex: 1;
  display: flex;
  justify-content: end;
  margin-left: 30px;
}

.data_bar_right .n-input {
  min-width: 300px;
  max-width: 600px;
  margin-right: 10px;
}

.data_bar_left {
  display: flex;
  align-items: center;
}
.data_bar_left .n-button {
  margin-right: 10px;
}

/* map marker */
.jr-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2b7;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #2b7;
}
.jr-marker.picked {
  background: #f60;
  box-shadow: 0 0 0 2px #f60;
}
